<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".cs" #>
<#@ include file="../../../rimworld-utils/IlyvionLaboratoryModSharedStatic.ttinclude" #>
#nullable enable

<# IlyvionLaboratoryModSharedStatic("RealisticOrbitalTrade", "RealisticOrbitalTradeMod"); #>
